.multipleInputFieldsCont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#multipleInputFieldsCont {
    width: 600px;
    height: 600px;
}

.inputField {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}

.buttonsCont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#eventsInput, #reportsInput, #topicsInput, #topicChangeInput {
    display: none;
}
.validationError{
    color: red;
    display: none;
}