.mainContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 150px;
}

.tableContainer {
    width: 400px;
    height: 300px;
}

header {
    display: flex;
    margin-top: 15px;
    gap: 50px;
    justify-content: right;
    padding-right: 50px;
}
form{
    margin-block-end: 0;
}
.paginationButtons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}