/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #0d6efd;
}

td, th {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    min-width: 100px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabContent {
    display: none;
}


#pastEventsTable, #futureEventsTable, #reportsTable {
    border-spacing: 0;
}

#pastEvents, #futureEvents {
    border-top: none;
}

#pastEvents, #futureEvents, #reports, #topics {
    padding: 6px 12px;
    border: 1px solid #0d6efd;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    gap: 10px;
}

#reports, #topics {
    display: flex;
}