<%@ tag language="java" pageEncoding="UTF-8" %>
<%@ attribute name="order" type="java.lang.Boolean" required="true" rtexprvalue="true" %>
<%@ attribute name="sortBy" type="java.lang.String" required="true" rtexprvalue="true" %>
<%
	if(order != null) {
		session.setAttribute("order", !order);
	}else{
        session.setAttribute("order", true);
	}
	System.out.println(sortBy);
    session.setAttribute("sortBy", sortBy);
%>